<a href="https://colab.research.google.com/github/eshwardora/214513-Python-/blob/main/Python(214513).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
date_birth= ("Enter your birth year=")
age= 2022-int(2002)
print(date_birth,age)

Enter your birth year= 20

In [ ]:
first_no= (2747867865)
second_no= (1453377)
func= 2747867865* int(1453377)
print(func)

3993687954030105

In [ ]:
#Simple Interest on a certain sum at the rate of 10% per annum for 6 years and 7 years differs by Rs.650/- What is the sum?
2* (3+9)/5

4.8

In [ ]:
5 // (4+5) % 4

0

In [ ]:
2** (3*3)

512

In [ ]:
2**3

8

In [ ]:
0<1

True

In [ ]:
A= True
B= False
A or B

True

Conditionals Exercise

In [ ]:
hours=input("Enter Hours:")
int(hours)
rate=input("Enter Rate:")
int(rate)
if int(hours) <= 40:
  pay = int(hours) * int(rate)
else:
  pay = int(hours) * int(rate) * 1.5
int(pay)
print("Pay:")
print(pay)

Enter Hours:35
Enter Rate:25
Pay:
875

Ex-3 (Page-40)

In [ ]:
score = input("Enter Score: ")
s =  float(score)
x = 'Error'
if s >= 0.9:
	x = 'A'
elif s >=0.8:
	x='B'
elif s >=0.7:
	x='C'
elif s >= 0.6:
	x='D'
elif s < .6:
	x ='F'
else:
	x ="Out of Range"
print (x)

Enter Score: 9.0
A

Ex-4 (Page-30)

In [ ]:
width = float(input("Enter the Width: "))
height = float(input("Enter the Height: "))


print("Value is : ", width // 2, "and type is: " ,type(width // 2))
print("Value is : ", width / 2.0 ,"and type is: " , type(width / 2.0))
print("Value is : ", width / 3 ,"and type is: " , type(width / 3))
print("Value is :" , 1 + 2 * 5,"and type is: " , type(1 + 2 * 5))

Enter the Width: 56
Enter the Height: 28
Value is :  28.0 and type is:  <class 'float'>
Value is :  28.0 and type is:  <class 'float'>
Value is :  18.666666666666668 and type is:  <class 'float'>
Value is : 11 and type is:  <class 'int'>

To check whether the year is Leap year or not

In [ ]:
# User enters the year
year= int (input("Enter year:"))

# Leap year Check
if year % 4 == 0 and year % 100 !=0:
  print (year, "is a Leap year")
elif year % 100 == 0:
  print (year, "is not a Leap year")
elif year % 400 == 0:
  print (year, "is a Leap year") 
else:
  print (year, "is not a Leap year")

Enter year:2004
2004 is a Leap year

Chapter-4 (Functions)
Page-54
Ex-7

In [ ]:
def computegrade(tmp_score):
    """
    Computes the final grade based on a 0.0 to 1.0 scale. If the score is
    not between 0.0 and 1.0, returns "Bad score."
    Input:    score -- score (must be between 0.0 and 1.0)
    Output:    returns a grade as a string.
    """
    if 0.0 <= tmp_score <= 1.0:
        if tmp_score >= 0.9:
            return 'A'
        if tmp_score >= 0.8:
            return 'B'
        if tmp_score >= 0.7:
            return 'C'
        if tmp_score >= 0.6:
            return 'D'
        return 'F'
    # Case 'score' is not on the interval
    return 'Bad score'


input_score = input('Enter score: ')
score = 0.0

try:
    score = float(input_score)             # Only allows input floats
except ValueError:
    print('Bad score')
    quit()

grade = computegrade(score)
print(grade)

Enter score: 2
Bad score

Page=54 
Ex-6

In [ ]:
def computepay(h,r):
    if h > 40:
        p = 1.5 * r * (h - 40) + (40 *r)
    else:
        p = h * r
    return p
    
hrs = input("Enter Hours:")
hr = float(hrs)
rphrs = input("Enter rate per hour:")
rphr = float(rphrs)

p = computepay(hr,rphr)
print(p)

Enter Hours:45
Enter rate per hour:10
475.0

Chapter= Iteration
Page= 64
Exercise-1

In [ ]:
num = 0
tot = 0.0
while True:
    number = input("Enter a number")
    if number == 'done':
        break
    try :
        num1 = float(number)
    except:
        print('Invailed Input')
        continue
    num = num+1
    tot = tot + num1
print ('all done')
print (tot,num,tot/num)

Enter a number4
Enter a number6
Enter a number7
Enter a number9
Enter a number3
Enter a number8
Enter a numberdone
all done
37.0 6 6.166666666666667

Exercise-2

In [ ]:
largest = None
smallest = None
count = 0
total = 0
while True:
    try:
        
        number = input("Enter a number: ")
        if number == "done":
            break
        number = int(number)
        count +=1
        total =number + total
        if largest == None and smallest == None:
            largest = number
            smallest = number
        if largest == None or number > largest:
            largest = number
        if smallest == None or number < smallest:
            smallest = number
    except:
        print("Invalid input")
print("The maximum number is: {}".format(largest))
print("The minimum number is: {}".format(smallest))  
print("The total number is: {}".format(total))
print("The count number is: {}".format(count))

Enter a number: 57885
Enter a number: 58942
Enter a number: 57043567
Enter a number: 7856758696
Enter a number: 76674524
Enter a number: done
The maximum number is: 7856758696
The minimum number is: 57885
The total number is: 7990593614
The count number is: 5